html body {
    min-height: 100vh;
}

body {
    background-image: url("../image/cobanb1.png");
}

#btnTiket {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* icon pada laporan/index */
.card-body .card-body-icon {
    position: absolute;
    z-index: 0;
    top: 20px;
    right: 10px;
    opacity: 0.4;
    font-size: 90px;
}

.home h1 {
    font-size: 80px;
    margin-top: 80px;
    color: green;
    font-family: brush script;
}

.Button {
    margin: 20px 10px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: green;
    background: transparent;
    border: 3px solid green;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}



