html body {
    min-height: 100vh;
}

body {
    background: linear-gradient(45deg, #fbda61, #ff5acd);
    background-repeat: no-repeat;
}

/* btn /tiket/index */
#btnTiket {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* icon /laporan/index */
.card-body .card-body-icon {
    position: absolute;
    z-index: 0;
    top: 20px;
    right: 10px;
    opacity: 0.4;
    font-size: 90px;
}